<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
  <link rel="stylesheet" href="/css/output.css" />
  <title>Alpha PDFX|Online PDF Tools For Free</title>
</head>

<body>
  <!-- header -->
  <div class="people_header sticky flex h-14 max-w-full flex-row items-center justify-between shadow-lg" id="people_navbar">
    <!-- head 1 -->
    <div class="head-1 ml-5 flex items-center justify-center space-x-5">
      <!-- Logo & Name-->
      <a href="/" class="flex items-center space-x-2">
        <div class="logo h-10 w-14">
          <img src="/images/pdf_logo.png" alt="logo" />
        </div>
        <div class="flex items-center space-x-2">
          <span class="webname text-xl font-bold text-violet-800" title="Social">Alpha PDFX</span>
        </div>
      </a>
    </div>

    <!-- head 2 -->
    <div class="head-2 ml-80 h-full max-md:hidden">
      <div class="nav_links flex h-full min-w-[25vw] items-center justify-between">
        <!-- Home -->
        <div class="nav_link active">
          <a href="/">
            <h1>Home</h1>
          </a>
        </div>
        <!-- Merge -->
        <div class="nav_link">
          <a href="/merge">
            <h1>Merge</h1>
          </a>
        </div>
        <!-- FAQ -->
        <div class="nav_link">
          <a href="#">
            <h1>FAQ</h1>
          </a>
        </div>
        <!-- About Us -->
        <div class="nav_link">
          <a href="#">
            <h1>About Us</h1>
          </a>
        </div>
        <!-- Help -->
        <div class="nav_link">
          <a href="#">
            <h1>Help</h1>
          </a>
        </div>
      </div>
    </div>

    <!-- head 3 -->
    <div class="head-3 mr-6 flex items-center space-x-2 lg:pl-[10vw]">
      <!-- Search Bar -->
      <div class="searchbar flex items-center rounded-lg border-2 border-black bg-slate-100 px-3 max-xl:hidden">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)" class="h-5 w-5">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
        <input class="text-md rounded-full bg-transparent p-[0.45rem] max-w-[15vw] pl-3 placeholder-slate-400 outline-none focus:outline-none" placeholder="Search" type="search" id="people_search" />
      </div>
    </div>
  </div>

  <div class="content p-4 px-14">
    <div class="div-1">
      <h1>Alpha PDFX</h1>
      <p>Are you tired of juggling multiple PDF files and struggling to keep them organized? Look no further! Alpha PDFX
        is your one-stop solution for seamlessly combining multiple PDFs into a single, streamlined document.</p>
    </div>

    <div class="div-2">
      <h2>Effortless PDF Merging</h2>
      <p>Our user-friendly and efficient online platform empowers you to merge PDFs effortlessly, saving you valuable
        time
        and effort. Whether you need to merge reports, presentations, or any other documents, Alpha PDFX has you
        covered.
      </p>
    </div>

    <div class="div-3">
      <h2>Simplify Your Workflow</h2>
      <p>Experience the convenience of a comprehensive PDF merging tool that maintains the integrity of your files while
        simplifying your workflow. Say goodbye to the hassle of manual document organization and hello to a streamlined
        and professional output.</p>
    </div>

    <div class="div-4">
      <p>Join thousands of satisfied users who have already discovered the power of Alpha PDFX. Start merging your PDFs
        today and take control of your document management like never before. Experience the ease and efficiency of PDF
        merging made simple, only at Alpha PDFX!</p>
    </div>
  </div>
</body>
<script src="/js/app.js"></script>

</html>